# Python Crash Course - Day 1


Welcome to the Python Crash Course Workshop!

Python is considered to be one of the most widely used programming languages in the field of data science since it offers a wide variety of libraries and tools to help us manipulate, analyze, and visualize data. 

In this section, we aim to introduce you to the fundamentals of Python. Today, we will cover these following contents:
   1. **Data types**: Integer, Float, String, Boolean
   2. **Variables**
   3. **Arithmetic Operators**
   4. **Printing**: String format, F-String
   5. **Collections**: List, Dictionary, Tuple, Set

# I. First program

The **print()** function allows the program display a message on the screen.

You can use comments to describe what you are trying to do with the program. The code in the comment is ignored when execute the program.
* Windows: Ctrl + /
* Mac OS: Command + /

In [16]:
# My Hello World program
print("Hello, World!")

Hello, World!

# II. Data types

### Numbers
1. Integer: integer number
2. Float: decimal number

In [147]:
# Plus
17 + 10

27

In [25]:
# Minus
30 - 100

-70

In [26]:
# Multiplication
9 * 3

27

In [30]:
# Exponent
3 ** 3

27

In [31]:
# Division: Return the value of the the division
57 / 6

9.5

In [33]:
# Modulo: Return the remainder of the division
57 % 6

3

In [53]:
(82 - 8) * (5)

370

### String 
String is a piece of text. In Python, you can use either single quotes ('') or double quotes ("").

In [176]:
"This is a string"

'This is a string'

In [112]:
"Welcome to " + "Data Science Club"

'Welcome to Data Science Club'

In [49]:
'Data Science ' * 3

'Data Science Data Science Data Science '

### Boolean 
Boolean is a True/False value.

In [126]:
True

True

In [120]:
False

False

### Type conversion
Convert one type to another:
* integer: `int()`
* float: `float()`
* string: `str()`
* boolean: `bool()`

In [174]:
float(10)

10.0

In [135]:
int("24")

24

You can use **type()** to check the data type of a variable or an object.

In [134]:
type(True)

bool

# III. Variables
Variable is a container to store a specific value. Declaring a variable can make your code more readable and easier to maintain.

To define a variable in Python, you can use the following syntax:

In [172]:
x = 100

You can also define multiple variables on a single line, separated by commas.

In [110]:
a, b, c = "Data Science", 17, True

### Operators using variables

Use arithmetic operators with variables to perform arithmetic operations on their values.

In [108]:
x = x + b

In [109]:
x *= b
x

1989

### How to name a variable in Python
* Variable names should be in lowercase with words separated by underscores.
* A variable cannot start with a number or a special character.
* Avoid using Python keywords (such as print, min, max, etc.).
* Use descriptive and meaningful names for variables and functions.

In [173]:
item = "laptop"
product_cost = 200

In [142]:
print("The " + item + " costs $" + str(product_cost))

The laptop costs $200

### String format

In [143]:
print("The {} costs ${}".format(item, product_cost))
print("The {one} costs ${two}".format(one=item, two=product_cost+150))

The laptop costs $200
The laptop costs $350

### F string

In [146]:
print(f"The {item} costs ${product_cost*3}.")

The laptop costs $600.

# IV. Collection

Collections are containers to store other objects. In this workshop, we will learn about 4 types of collections in Python:
1. List: ordered, mutable collection of elements.
2. Tuple: ordered, immutable collection of elements.
3. Set: unordered, mutable collection of **unique** elements.
4. Dictionary: unordered, mutable collection of key-value pairs.

## 1 - List

In [245]:
flowers = ["rose","daisy","jasmine"]
mixed = ["Data Science Club", 17, True, [2, 4, 6]]

### List indexing

The index of a list refers to the position of an element within the list.
* To access the element from left to right, we count from 0.
* To access the element from right to left, we count from -1.

In [177]:
flowers[0]

'rose'

In [242]:
mixed[-2] = False

In [246]:
mixed[3][2]

6

### List slicing

A slice of a list refers to a subset the list. Syntax: `lst[start,end,step]`

In [231]:
lst = [0,1,2,3,4,5,6,7,8,9,10,10]

In [193]:
lst[1:5]

[1, 2, 3, 4]

In [194]:
lst[-4:]

[7, 8, 9, 10]

In [195]:
lst[::2]

[0, 2, 4, 6, 8, 10]

### Functions and operations with list

**Add a new element to the list:**

In [232]:
# Add an element to the end of a list
lst.append([11,12,13,14,15])
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, [11, 12, 13, 14, 15]]

**Remove an element from the list:**

In [233]:
# Remove the first element with the specific value
lst.remove(10)
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [11, 12, 13, 14, 15]]

In [235]:
# Remove an element of the specific index and return its value
lst.pop(5)
lst

[0, 1, 2, 3, 4, 7, 8, 9, 10, [11, 12, 13, 14, 15]]

**Using arithmetic operators with list:**

In [236]:
lst = [0,1,2,3,4,5]

In [316]:
lst + lst[::-1]

[0, 1, 2, 3, 4, 5, 5, 4, 3, 2, 1, 0]

In [299]:
lst * 3

[0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5]

## 2 - Tuple

In [339]:
tp = ("Data","Science","Club")

In [255]:
tp[-1]

'Club'

In [252]:
tp[:2]

('Data', 'Science')

In [276]:
tp[0] = "Computer"

TypeError: 'tuple' object does not support item assignment

In [304]:
tp *= 3
tp

('Data',
 'Science',
 'Club',
 'Data',
 'Science',
 'Club',
 'Data',
 'Science',
 'Club')

## 3 - Set

In [331]:
sets = {0,0,0,1,2,3,3,2,2}
sets

{0, 1, 2, 3}

In [264]:
sets[1]

TypeError: 'set' object is not subscriptable

In [332]:
sets.add(4)
sets

{0, 1, 2, 3, 4}

In [333]:
sets.remove(2)
sets

{0, 1, 3, 4}

In [340]:
sets += {1,2,3,4,5,6,7}

TypeError: unsupported operand type(s) for +=: 'set' and 'set'

## 4 - Dictionary

In [65]:
# A pair of key-value
flowers = {
    "rose": "red",
    "sunflower": "blue"
}

**Does dictionary have index?**

In [52]:
flowers[0]

KeyError: 0

**Access dictionary keys and values:**

In [53]:
flowers["rose"]

'red'

In [54]:
flowers.keys()

dict_keys(['rose', 'sunflower'])

In [55]:
flowers.values()

dict_values(['red', 'blue'])

In [56]:
flowers.items()

dict_items([('rose', 'red'), ('sunflower', 'blue')])

**Modify the value of an existing key:**

In [57]:
flowers["sunflower"] = "yellow"
flowers

{'rose': 'red', 'sunflower': 'yellow'}

**Add a new key-value pair:**

In [58]:
flowers["tulip"] = "purple"
flowers

{'rose': 'red', 'sunflower': 'yellow', 'tulip': 'purple'}

In [59]:
flowers["lily"]

KeyError: 'lily'

### Defaultdict

In [49]:
from collections import defaultdict

In [69]:
grocery = defaultdict(int)

grocery["apple"] = 5
grocery["orange"] = 3
grocery["egg"] = 10

In [71]:
grocery["banana"]

0

In [74]:
grocery["banana"] = 7
grocery

defaultdict(int, {'apple': 5, 'orange': 3, 'egg': 10, 'banana': 7})

In [81]:
sorted_dict = dict(sorted(grocery.items()))
sorted_dict

{'apple': 5, 'banana': 7, 'egg': 10, 'orange': 3}

In [84]:
sorted_dict = dict(sorted(grocery.items(), key=lambda x:x[1]))
sorted_dict

{'orange': 3, 'apple': 5, 'banana': 7, 'egg': 10}