<a href="https://colab.research.google.com/github/Scarlett04/DSC-Python-crash-course/blob/main/Python%20Crash%20Course%201%20(Full%20version).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Crash Course - Day 1


Welcome to the Python Crash Course Workshop!

Python is considered to be one of the most widely used programming languages in the field of data science since it offers a wide variety of libraries and tools to help us manipulate, analyze, and visualize data. 

In this section, we aim to introduce you to the fundamentals of Python. Today, we will cover these following contents:
   1. **Data types**: Integer, Float, String, Boolean
   2. **Variables**
   3. **Arithmetic Operators**
   4. **String**: String format, F-String
   5. **Collections**: List, Dictionary, Tuple, Set

# I. First program

The **print()** function allows the program display a message on the screen.

You can use comments to describe what you are trying to do with the program. The code in the comment is ignored when execute the program.
* Windows: Ctrl + /
* Mac OS: Command + /

In [ ]:
# My Hello World program
print("Hello, World!")

Hello, World!

# II. Data types

### Numbers
1. Integer: integer number
2. Float: decimal number

In [ ]:
# Plus
17 + 10

27

In [ ]:
# Minus
30 - 100

-70

In [ ]:
# Multiplication
9 * 3

27

In [ ]:
# Exponent
3 ** 3

27

In [ ]:
# Division: Return the value of the the division
57 / 6

9.5

In [ ]:
# Modulo: Return the remainder of the division
57 % 6

3

In [ ]:
(82 - 8) * (5)

370

### String 
String is a piece of text. In Python, you can use either single quotes ('') or double quotes ("").

In [ ]:
"This is a string"

'This is a string'

In [ ]:
# Combine string
"Welcome to " + "Data Science Club"

'Welcome to Data Science Club'

In [ ]:
# Duplicate string
'Data Science ' * 3

'Data Science Data Science Data Science '

### Boolean 
Boolean is a True/False value.

In [ ]:
True

True

In [ ]:
False

False

### Type conversion
Convert one type to another:
* integer: `int()`
* float: `float()`
* string: `str()`
* boolean: `bool()`

In [ ]:
float(10)

10.0

In [ ]:
int("24")

24

You can use **type()** to check the data type of a variable or an object.

In [ ]:
type(True)

bool

# III. Variables
Variable is a container to store a specific value. Declaring a variable can make your code more readable and easier to maintain.

To define a variable in Python, you can use the following syntax:

In [ ]:
x = 100

You can also define multiple variables on a single line, separated by commas.

In [ ]:
a, b, c = "Data Science", 17, True

### Operators using variables

Use arithmetic operators with variables to perform arithmetic operations on their values.

In [ ]:
x = x + b

In [ ]:
x *= b
x

1989

### How to name a variable in Python
* Variable names should be in lowercase with words separated by underscores.
* A variable cannot start with a number or a special character.
* Avoid using Python keywords (such as print, min, max, etc.).
* Use descriptive and meaningful names for variables and functions.

In [ ]:
item = "laptop"
product_cost = 200

In [ ]:
print("The " + item + " costs $" + str(product_cost))

The laptop costs $200

### String format

In [ ]:
print("The {} costs ${}".format(item, product_cost))
print("The {one} costs ${two}".format(one=item, two=product_cost+150))

The laptop costs $200
The laptop costs $350

### F string

In [ ]:
print(f"The {item} costs ${product_cost*3}.")

The laptop costs $600.

# IV. Collection

Collections are containers to store other objects. In this workshop, we will learn about 4 types of collections in Python:
1. List: ordered, mutable collection of elements.
2. Tuple: ordered, immutable collection of elements.
3. Set: unordered, mutable collection of **unique** elements.
4. Dictionary: unordered, mutable collection of key-value pairs.

## 1 - List

In [ ]:
flowers = ["rose","daisy","jasmine"]
mixed = ["Data Science Club", 17, True, [2, 4, 6]]

### List indexing

The index of a list refers to the position of an element within the list.
* To access the element from left to right, we count from 0.
* To access the element from right to left, we count from -1.

In [ ]:
flowers[0]

'rose'

In [ ]:
# Change the value of an item in a list
mixed[-2] = False
mixed

['Data Science Club', 17, False, [2, 4, 6]]

Nested indexing allows us to access an element within a sublist:

In [ ]:
mixed[3][2]

6

### List slicing

A slice of a list refers to a subset the list. Syntax: `lst[start,end,step]`

In [ ]:
lst = [0,1,2,3,4,5,6,7,8,9,10,10]

In [ ]:
lst[1:5]

[1, 2, 3, 4]

In [ ]:
lst[-4:]

[8, 9, 10, 10]

In [ ]:
lst[::2]

[0, 2, 4, 6, 8, 10]

### Functions and operations with list

**Add a new element to the list:**

In [ ]:
# Add an element to the end of a list
lst.append([11,12,13,14,15])
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, [11, 12, 13, 14, 15]]

**Remove an element from the list:**

In [ ]:
# Remove the first element with the specific value
lst.remove(10)
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [11, 12, 13, 14, 15]]

In [ ]:
# Remove the element of the specific index
lst.pop(5)
lst

[0, 1, 2, 3, 4, 6, 7, 8, 9, 10, [11, 12, 13, 14, 15]]

**Using arithmetic operators with list:**

In [ ]:
lst = [0,1,2,3,4,5]

In [ ]:
# Combine list
lst + lst[::-1]

[0, 1, 2, 3, 4, 5, 5, 4, 3, 2, 1, 0]

In [ ]:
# Duplicate list
lst * 3

[0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5]

## 2 - Tuple

In [ ]:
tp = ("Data","Science","Club")

**Tuple indexing**

In [ ]:
tp[-1]

'Club'

In [ ]:
tp[:2]

('Data', 'Science')

In [ ]:
# Change the value of an item in a tuple
tp[0] = "Computer"

TypeError: ignored

In [ ]:
# Combine and duplicate tuple
tp * 3

('Data',
 'Science',
 'Club',
 'Data',
 'Science',
 'Club',
 'Data',
 'Science',
 'Club')

In [ ]:
# Application
config = (
    ('server_address', '127.0.0.1'),
    ('server_port', 8080),
    ('max_connections', 100),
    ('debug', False)
)

## 3 - Set

In [ ]:
sets = {0,0,0,1,2,3,3,2,2}
sets

{0, 1, 2, 3}

**Set indexing**

In [ ]:
sets[1]

TypeError: ignored

In [ ]:
# Add an element to a set
sets.add(4)
sets

{0, 1, 2, 3, 4}

In [ ]:
# Remove an element from a set
sets.remove(2)
sets

{0, 1, 3, 4}

Set is a collection of unique values and cannot be combined nor duplicated.

In [ ]:
sets += {1,2,3,4,5,6,7}

TypeError: ignored

## 4 - Dictionary

In [ ]:
# A pair of key-value
flowers = {
    "rose": "red",
    "sunflower": "blue"
}

**Does dictionary have index?**

In [ ]:
flowers[0]

KeyError: ignored

**Access dictionary keys and values:**

In [ ]:
# Access dictionary value through key
flowers["rose"]

'red'

In [ ]:
# Return all the keys in the dictionary
flowers.keys()

dict_keys(['rose', 'sunflower'])

In [ ]:
# Return all the values in the dictionary
flowers.values()

dict_values(['red', 'blue'])

In [ ]:
# Return key-value pairs as tuples
flowers.items()

dict_items([('rose', 'red'), ('sunflower', 'blue')])

**Modify the value of an existing key:**

In [ ]:
flowers["sunflower"] = "yellow"
flowers

{'rose': 'red', 'sunflower': 'yellow'}

**Add a new key-value pair:**

In [ ]:
flowers["tulip"] = "purple"
flowers

{'rose': 'red', 'sunflower': 'yellow', 'tulip': 'purple'}

In [ ]:
flowers["lily"]

KeyError: ignored

### Defaultdict

In [ ]:
# import defaultdict
from collections import defaultdict

In [ ]:
grocery = defaultdict(int)

grocery["apple"] = 5
grocery["orange"] = 3
grocery["egg"] = 10

In [ ]:
grocery["banana"]

0

In [ ]:
grocery["banana"] = 7
grocery

defaultdict(int, {'apple': 5, 'orange': 3, 'egg': 10, 'banana': 7})

**Sorting dictionary:**

In [ ]:
# Sort a dictionary by keys
sorted_dict = dict(sorted(grocery.items()))
sorted_dict

{'apple': 5, 'banana': 7, 'egg': 10, 'orange': 3}

In [ ]:
# Sort a dictionary by values
sorted_dict = dict(sorted(grocery.items(), key=lambda x:x[1]))
sorted_dict

{'orange': 3, 'apple': 5, 'banana': 7, 'egg': 10}